* {
  margin: 0;
}

*,
*::afer,
*::before {
  box-sizing: border-box;
}

.full-header {
  width: 100%;
  height: 100vh;
  background-image: url(images/Header-llustration-desktop@2x.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.nav-bar {
  display: flex;
  justify-content: center;
}

.union {
  display: none;
}
.nav-bar a {
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  display: flex;
  color: #344563;
  text-decoration: none;
  margin-right: 32px;
}

.full-slider {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  margin-top: 10%;
}

.first-headline {
  font-style: normal;
  font-weight: 800;
  font-size: 48px;
  color: #172b4d;
}

.sec-headline {
  font-style: normal;
  font-weight: 800;
  font-size: 48px;
  color: #36b37e;
}

.detlies {
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  color: #172b4d;
  padding: 5px;
}

.images a {
  text-decoration: none;
  margin-right: 10px;
}

.images {
  margin-bottom: 60px;
  margin-top: 30px;
}

/* // update part */

.work {
  width: 327px;
  height: 474px;
  border: 1px solid gray;
  border-radius: 8px;
}

.works-part {
  width: 80%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 0;
  margin-left: 10%;
  margin-bottom: 10%;
  gap: 10px;
}

.work-image-part {
  background-color: #ebf0ee;
  width: 327px;
  height: 222px;
  border-radius: 7px;
}

.work-text-part {
  width: 327px;
  height: 252px;
}

.ul-list li {
  list-style: none;
  float: left;
  font-size: 15px;
  margin-right: 5px;
  padding: 5px;
  font-weight: 600;
  background: #ebf0ee;
  border-radius: 4px;
  color: #3a4a42;
}

.work-title {
  text-align: center;
  font-size: 24px;
  margin-top: 15px;
  margin-bottom: 15px;
  color: #3a4a42;
}

.btn {
  width: 122px;
  height: 48px;
  background: #36b37f;
  border-radius: 4px;
  border: none;
  font-size: 17px;
  color: #fff;
}

.btn-div {
  margin-top: 80px;
  margin-left: 90px;
}

/* about me part start */
.full-about-me {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  padding: 100px 0px 100px 0px;
}

.image-size-is {
  width: 288px;
  height: 126px;
  margin-top: 100px;
  display: block;
}

.image-size-is2 {
  width: 269px;
  height: 244px;
  margin-top: -100px;
  display: block;
}

.text-part-about-me {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.title-about-me {
  font-weight: 700;
  font-size: 40px;
  text-align: center;
  color: #172b4d;
}

.des-about-me {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  color: #42526e;
  margin-top: 20px;
}

.about-me-btn {
  width: 153px;
  height: 48px;
  margin-top: 20px;
}

.recent-work {
  text-align: center;
}

.hrs {
  width: 48px;
  height: 4px;
  background: #36b37e;
  margin: 0 auto;
  margin-bottom: 50px;
}

/* skill item start */

.skill-ulall {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
  list-style: none;
}

.skill-item {
  height: 316px;
  width: 369px;
  left: 0px;
  top: 0px;
  background: #ebf0ee;
  border: 1px solid #c1c7d0;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.allul {
  display: flex;
  list-style: none;

  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.allul li {
  background: #ffffff;
  border-radius: 8px;
  margin-right: 10px;
  padding: 5px;
  text-align: center;
  margin-top: 5px;
}

/* skill item end */

/* start form part  */

.form-input-part {
  margin-left: 10px;
}
.full-form-part {
  width: 90%;
  display: grid;
  grid-template-columns: 3fr 4fr;
}

.master-form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;

  background-image: url(images/form-left-part.png),
    url(images/form-right-part.png);
  background-repeat: no-repeat;
  background-size: 10%;
  background-position: bottom left, bottom right;
  background-position-y: 200px 200px;
  padding: 40px;

  margin-bottom: 100px;
}

.form-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.image-down-form {
  width: 130px;
  height: 105px;
  position: absolute;
  bottom: 0;
}

.emailAdress {
  width: 675px;
  height: 48px;
}

.input-fullname {
  display: flex;
}

.fullname {
  height: 48px;
  width: 330px;
  left: 0px;
  top: 0px;
  border-radius: 4px;
  margin-bottom: 10px;
  margin-right: 10px;
  border: 1px solid gray;
}

.FullNameMobile {
  display: none;
}

.message {
  height: 114px;
  width: 684px;
  left: 0px;
  top: 0px;
  border-radius: 4px;
  margin-top: 20px;
  border: 1px solid gray;
  margin-bottom: 15px;
}

.form-btn-submit {
  background: #36b37f;
  border-radius: 4px;
  border: none;
  color: white;
  padding: 5px 10px 5px 10px;
}

/* end form part */

footer {
  text-align: center;
}

.mail-foorter {
  display: none;
}
@media only screen and (max-width: 765px) and (min-width: 375px) {
  .nav-bar a {
    display: none;
  }

  .union {
    display: block;
    margin-left: 150px;
    margin-top: 10px;
  }
  /* about me mobile part */
  .full-about-me {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    background-image: url(images/b.png);
    background-repeat: no-repeat;
    background-position-y: 50px;
  }

  .image-size-is {
    display: none;
  }

  .image-size-is2 {
    display: none;
  }

  /* about me mobile part */

  /* My Recent Works Mobile part start  */
  .works-part {
    width: 80%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .work {
    width: 327px;
    height: 474px;
    border: 1px solid gray;
    border-radius: 8px;
  }

  /* My Rectnet work mobile part end */

  /* skill part mobile part done */
  .skill-ulall {
    display: flex;
    flex-direction: column;
    list-style: none;
  }

  .skill-item {
    height: 316px;
    width: 327px;
    background: #ebf0ee;
    border: 1px solid #c1c7d0;
    border-radius: 8px;
    margin-right: 30px;
    margin-bottom: 20px;
  }

  /* Form part mobile start  */
  .full-form-part {
    display: flex;
    flex-direction: column;
    gap: 100px;
  }

  .master-form {
    background-image: url(images/form-right-part.png);
    background-position: bottom right;
    background-position-x: 330px;
  }

  .fullname {
    display: none;
  }

  .FullNameMobile {
    display: block;
    width: 90%;
    height: 48px;
    margin-bottom: 20px;
  }
  .emailAdress {
    width: 90%;
    height: 48px;
  }

  .message {
    width: 90%;
    height: 114px;
  }

  .image-down-form {
    display: none;
  }

  .form-into-text {
    weight: 700;
    font-size: 40px;
    text-align: center;
  }

  .form-btn-submit {
    margin: 0 auto;
    display: block;
  }

  /* form mobile part end */

  .mail-foorter {
    display: block;
  }

  .footer-hr {
    display: none;
  }
}
